<form [formGroup]="registerForm" (ngSubmit)="submitDetails()">
    <p-card header="Register" [style]="{ width: '360px' }">
      <div class="field">
        <label for="fullName">FullName</label>
        <input
          type="text"
          pInputText
          formControlName="fullName"
          class="w-full"
          name="fullName"
          placeholder="Type your name"
        />
        @if(fullName.invalid && (fullName.dirty || fullName.touched)) {
            <small class="block p-error" >
                @if(fullName.errors?.['required']) {
                    <div>Name is required.</div> 
                }
                @if(fullName.errors?.['email']) {
                    <div>Enter a valid Name</div> 
                }
            </small>
        }
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input
          type="text"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="Type your email"
        />
        @if(email.invalid && (email.dirty || email.touched)) {
            <small class="block p-error" >
                @if(email.errors?.['required']) {
                    <div>Email is required.</div> 
                }
                @if(email.errors?.['email']) {
                    <div>Email should be valid</div> 
                }
            </small>
        }
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="Type your password"
        />
        @if(password.invalid && (password.dirty || password.touched)) {
            <small class="block p-error" >
                @if(email.errors?.['required']) {
                    <div>Password is required.</div> 
                }
            </small>
        }
      </div>
      <div class="field">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          pInputText
          formControlName="confirmPassword"
          class="w-full"
          name="confirmPassword"
          placeholder="Confirm Password"
        />
        @if(confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)) {
            <small class="block p-error" >
                @if(confirmPassword.errors?.['required']) {
                    <div>Confirm the password is required.</div> 
                }
            </small>
        }
        @if(registerForm.errors?.['passwordMismatch'] && confirmPassword.valid && password.valid) {
            <small class="block p-error" >
                <div>Password should match</div> 
            </small>
        }
      </div>
      <p-button
        label="Register"
        styleClass="w-full"
        [disabled]="registerForm.invalid"
        type="submit"
      ></p-button>
      <div class="mt-2">Already a member? <a routerLink="/login">Login</a></div>
    </p-card>
  </form>